{% include 'header.html.twig' %}

<div id="accueil_content">

    <div class="container">
        <div class="row annonces_accueil">
            <div class="col-md-6 col_accueil">
                <div class="depot_consulter_annonce">
                    <a href="depotannonce.php"><img class="img_accueil_annonce" src="../contents/img/accueil/depot_annonce.jpeg"  alt="Image dépôt d'une annonce"/>
                    <div class="centered">Dépôser une annonce</div></a>
                </div>
            </div>
            <div class="col-md-6 col_accueil">
                <div class="depot_consulter_annonce">
                    <a href="#"><img class="img_consulter_annonce" src="../contents/img/accueil/consulter_annonce.jpeg"  alt="Image Consulter les annonces"/>
                    <div class="centered">Consulter les annonces</div></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col_accueil">
                <div class="annonce_recente">
                    <p>Récemments :</p>
                    <div class="depot_consulter_annonce">
                       <img src={{ photos }}" alt="efvdfvé"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




{% include 'footer.html.twig' %}