{% include 'header.html.twig' %}

            <section class="container-fluid">		
				<section class="row justify-content-center">
					<section class="col-12 col-sm-12 col-md-6">
						<img src="../contents/img/form_user/login.png" class="imglogin">
							<form class="form-container" method="post" action="">							
								<h4 class="text-center font-weight-bold">Connexion</h4>
									<div class="form-group">
										<input class="form-control" name="mail" type="mail" id="mail" placeholder="Adresse Email" />
									</div>
									<div class="form-group">
										<input class="form-control" type="password" name="password" id="password" placeholder="Mot de passe"/>
									</div>
									<div class="forgot">
										<span class="text">
											Mot de passe oublié ?
										</span>
										<a href="mdpoublie.php" class="txt2">
											CLiquez-ici 
										</a>
									</div>
									
										<button href="" type="submit" name="submit" class="btn btn-primary btn-block form">Connexion</button>
									
									<div class="newaccount">
										<span class="text">
											Pas encore de compte ? 
										</span>
										<a class="txt1" href="inscription.php">Inscrivez-vous maintenant</a>
									</div>
							
							</form>
					</section>
				</section>
			</section>		
	




{% include 'footer.html.twig' %}