<footer id="footer_content" role="contentinfo">
    <div class="socialfooter">
        <!--Linkdln Quentin-->
        <p class="text_social_footer">Aix YnovCampus, Stephi Place Projet ©</p>
        <p>Quentin MENDEL</p>
        <a href="https://www.linkedin.com/in/quentin-mendel-629912193/" role="linksocial"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <!--Linkdln Steven-->
        <p class="text_social_footer">Steven JACQUENOD</p>
        <a href="https://www.linkedin.com/in/steven-jacquenod-2b8722193/" role="linksocial"><i class="fa fa-linkedin" aria-hidden="true"></i></a>               
    </div>
</footer>

</body>

</html>