<!DOCTYPE html>

<html lang='fr'>

<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="author" content="MENDEL Quentin, JACQUENOD Steven">
	<meta name="keywords"  content=",Stephi Place WEB,Annonces,Immobilier,HTML,CSS,JS,Responsive, PROJET UF">
	<meta title="Stephi Web Place">


	<!-- ===== Fichier CSS / Font Awesome ===== -->
	<link role="link" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

	<!-- ===== Fichier CSS&JS /  Boostrap ===== -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	<!-- ===== Fichiers CSS  ===== -->
	<link rel="stylesheet" href="../contents/css/footer.css"/>
	<link rel="stylesheet" href="../contents/css/accueil.css"/>
	<link rel="stylesheet" href="../contents/css/header.css"/>
	<link rel="stylesheet" href="../contents/css/forms_user.css"/>
	<link rel="stylesheet" href="../contents/css/mdpoublie.css"/>
	<link rel="stylesheet" href="../contents/css/depotannonce.css"/>
	<link rel="stylesheet" href="../contents/css/gestioncompte.css"/>

	<!-- ===== Fichiers JS ===== -->
	
	

	<!-- ===== Fichers Police Google Font ===== -->
	
</head>


<body>

	
	<nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="accueil.php"><img class="logo" src="../contents/img/accueil/logo.png"/> Stephi Place </a>
            <button id="navbarbutton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Rechercher </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="connexion.php"> Connexion </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inscription.php"> Inscription</a>
                    </li>
                </ul>
            </div>
        </div>
  	</nav>







