{% include 'header.html.twig' %}


    <section class="container-fluid">		
		<section class="row justify-content-center">
		    <section class="col-12 col-sm-12 col-md-6">
				<img src="../contents/img/form_user/login.png" class="imglogin">
					<form class="form-container" method="post" action="inscription.php">							
						<h4 class="text-center font-weight-bold">Inscription</h4>
							<div class="form-group">                             
                                <input class="form-control" type="text" name="nom"  id="nom" placeholder="Nom" required/>                           
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="prenom" id="prenom" placeholder="Prénom" required/>
                            </div>
                            <div class="form-group">
								<input class="form-control" type="email" name="email" id="email" placeholder="Email" required/>
                            </div>
                            <div class="form-group">
								<input class="form-control" type="password" name="password" id="password" placeholder="Mot de passe" required/>
                            </div>
                            <div class="form-group">
								<input class="form-control" type="password" name="repeatpassword" id="repeatpassword" placeholder="Répétez votre mot de passe" required/>
                            </div>
                            <div class="form-group inscription">
                                <label for="male">Civilité :</label>        
                                <input class="form-control" type="radio" Name="genre"   id="Homme" Value="Homme" required>
                                <label for="female">Mr.</label>
                                <input class="form-control" type="radio" Name="genre"  id="Femme" Value="Femme" required>
                                <label for="gender">Mlle.</label>
                            </div>
                            <div class="form-group">
								<input class="form-control" type="text" name="adresse" id="adresse" placeholder="Adresse" required/>
                            </div>
                            <div class="form-group">
								<input class="form-control" type="number" name="code_postal" id="code_postal" placeholder="Code postal" required/>
                            </div>
                            <div class="form-group">
								<input class="form-control" type="text" name="ville" id="ville" placeholder="Ville" required/>
                            </div>
                            <div class="form-group">
                                <label for="pays">Pays :</label>      
                                <select id="pays" name="pays" class="selectpicker" required>
                                    <option value=""></option>                                         
                                    <option value="Argentina">Argentine</option>        
                                    <option value="Australia">Australie</option>     
                                    <option value="Belgium">Belgique</option>   
                                    <option value="Benin">Benin</option>
                                    <option value="Bolivia">Bolivie</option>                             
                                    <option value="Brazil">Brésil</option>                                 
                                    <option value="Canada">Canada</option>                                  
                                    <option value="Chile">Chilie</option>
                                    <option value="China">Chine</option>                               
                                    <option value="Colombia">Colombie</option>                            
                                    <option value="Croatia">Croatie</option>
                                    <option value="Cuba">Cuba</option>                               
                                    <option value="Czech Republic">République Tchèque</option>
                                    <option value="Denmark">Danemark</option>                                
                                    <option value="Egypt">Egypte</option>                              
                                    <option value="Finland">Finlande</option>
                                    <option value="France">France</option>                             
                                    <option value="Germany">Allemagne</option>                             
                                    <option value="Guadeloupe">Guadeloupe</option>                                                                                     
                                    <option value="India">Inde</option>
                                    <option value="Indonesia">Indonesie</option>                                  
                                    <option value="Ireland">Irelande</option>      
                                    <option value="Italy">Italie</option>
                                    <option value="Jamaica">Jamaique</option>
                                    <option value="Japan">Japan</option>             
                                    <option value="Lithuania">Lithuanie</option>
                                    <option value="Luxembourg">Luxembourg</option>                                
                                    <option value="Mexico">Mexique</option>                               
                                    <option value="Monaco">Monaco</option>                              
                                    <option value="Philippines">Philippines</option>                             
                                    <option value="Poland">Pologne</option>
                                    <option value="Portugal">Portugal</option>                                  
                                    <option value="Reunion">Reunion</option>                  
                                    <option value="Spain">Espagne</option>                                
                                    <option value="Sweden">Suède</option>
                                    <option value="Switzerland">Suisse</option>                         
                                    <option value="United Kingdom">Royaume-Uni</option>
                                    <option value="United States">Etat-Unis</option>                  
                                </select>                             
                            </div>
                            <div class="form-group">
								<input class="form-control" type="number" name="numero" id="numero" placeholder="Numéro" required/>
                            </div>
                            <div class="form-group">
								<input class="form-control" type="date" name="date_de_naissance" id="date_de_naissance" placeholder="Date de naissance" required/>
                            </div>
                            <div class="form-group">
								<input class="form-control" type="text" name="agence" id="agence" placeholder="Ville de l'agence" required/>
                            </div>
							<button href="accueil.html" name="submit" type="submit" class="btn btn-primary btn-block form">S'inscrire</button>							
					</form>
			</section>
		</section>
	</section>


{% include 'footer.html.twig' %}