<!DOCTYPE html>

<html lagn='fr'>

<head>
	<meta charset="utf-8">
	<meta name="author" content="MENDEL Quentin, JACQUENOD Steven">
	<meta name="keywords"  content=",Stephi Place WEB,Annonces,Immobilier,HTML,CSS,JS,Responsive, PROJET UF">
	<meta title="Stephi Web Place">


	<!-- ===== Fichier CSS / Font Awesome ===== -->
	

	<!-- ===== Fichier CSS&JS /  Boostrap ===== -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- ===== Fichiers CSS  ===== -->
	

	<!-- ===== Fichiers JS ===== -->
	

	<!-- ===== Fichers Police Google Font ===== -->
	
</head>


<body>

	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
			Bootstrap
		</a>
	</nav>


</body>


</html>