#footer_content {
    background-color: lightgrey;
    padding: 15px;
    text-align: center;
    margin-top: 150px;
    bottom: 0px;
    width: 100%;
    
}
.socialfooter a{
    font-size: 2em;
    color: #ffffff;
}
.socialfooter a:hover{
    font-size: 2em;
    color: orange;
}



@media screen and (max-width: 770px) {
    #footer_content {
        

    }
}

