/* Mise en forme Form connexion et inscription  */
.form-container {
	border-radius: 10px;
	padding: 60px;
	box-shadow: 0px 0px 10px 0px;
}
form.form-container{
	background : #fff;
}

.imglogin{
	width: 90px;
	height: 90px;
	position: absolute;
	top: -35px;
	left: 40px;
}

form input[type = "radio"] {
    float :left;
    width: 20px;
    margin-right: 15px;
}
form select {
    float :left;
    width: 180px;
    margin-right: 20px;
}

form label {
    float: left;
    width: 100px;
}


/* Text form connexion */

.txt2 {
	text-decoration: none;
	color: orange;
}
.txt2:hover{
	color: orange;
}
.txt1 {
	text-decoration: none;
	color: orange;
}
.txt1:hover{
	color:orange;
}

.forgot{
	margin-top: 30px;
	margin-bottom: 20Px;
}
.newaccount{
	margin-top: 30px;
}


/* Bouton form connexion et inscription */

button.form {
	background:#323232;
	border-color: orange; 
}
button.form:hover {
	background: orange;
	border-color: black; 
}


